@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Empleados";
}
<section class="content-header" style="padding-bottom:5px; padding-top:8px">
    <div class="container-fluid ">
        <div class="row mb-2 ">
            <div class="col-lg-12 col-sm-12 col-md-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="home">Portal</a></li>
                    <li class="breadcrumb-item active">Empleado</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<div class="container-fluid text-center">
    <div class="row">
        <div class="col">
            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">Personas</h3>
                </div>
                <div class="card-body">
                    <div class="text-end">
                        <button class="btn btn-success"> Agregar </button>
                    </div>
                    <br>
                    <div id="TblEmpleado">
                    </div>
                </div>
            </div>
        </div>

        @*Modal*@
        <div class="modal" tabindex="-1" id="ModalDepartamento">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="tutleAdd">Departamento</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="txtcodDepto">
                                    <label for="txtcodDepto">codDepto</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="txtnombreDpto">
                                    <label for="txtnombreDpto">nombreDpto</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" id="txtciudad">
                                    <label for="txtciudad">ciudad</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="txtcodDirector">
                                    <label for="txtcodDirector">codDirector</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="ClosuModal()">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    var table = $('#TblEmpleado').DataTable({
        responsive: true
    });
    new $.fn.dataTable.FixedHeader(table);
</script>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/EmpleadoLogica.js"></script>